@page "/"
@using BitMiracle.Docotic.Pdf
@inject Microsoft.JSInterop.IJSRuntime JS
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<button class="btn btn-primary" @onclick="@GeneratePdf">Generate PDF</button>

@functions {

    async void GeneratePdf()
    {
        await Task.Delay(50);
        NavigationManager.NavigateTo("/pdfviewer");

        string uid = Guid.NewGuid().ToString();

        using (var pdf = new PdfDocument())
        {
            PdfDrawOptions options = PdfDrawOptions.Create();
            options.BackgroundColor = new PdfRgbColor(255, 255, 255);
            options.HorizontalResolution = 100;
            options.VerticalResolution = 100;

            pdf.Pages[0].Save("tiled.png", options);
            using (var memoryStream = new MemoryStream())
            {
                // pdf.Save(memoryStream);

                // Save the page as an image to the memory stream
                pdf.Pages[0].Save(memoryStream, options);

                // Convert the image bytes to Base64
                var base64String = Convert.ToBase64String(memoryStream.ToArray());

                // Pass the Base64 string to JavaScript
                await JS.InvokeAsync<object>(
                   "renderImage",
                   base64String
               );
            };
        }

    }
}